.button {
    border: none;
    border-radius: 24px;
    padding: 18px 40px;
    color: #232020;
    text-transform: uppercase;
    background-color: #ffc700;
    border: 1px solid #ffc700;
    outline: none;
}

.button_o {
    background-color: transparent;
    border: 1px solid #232020;
}

.button:hover {
    background-color: #ffd952;
    border-color: #ffd952;
}

.button:focus-visible {
    border-color: #9e7b00;
}

.button:active:not(:disabled) {
    transform: translate(2px, 2px);
}

.button:disabled {
    pointer-events: none; /* or :active:not(:disabled) */
    cursor: default;

    background-color: #e0e0e0;
    border-color: #e0e0e0;
    color: #898989;
}

.button_o:focus-visible {
    background-color: #ffc700;
}