.calc__container {
    display: flex;
    gap: var(--gap);
}

.calc__content {
    width: var(--width-block);
}

.calc_title {
    margin-bottom: 32px;
}

.calc__fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

.calc__fieldset_size {
    margin-bottom: 32px;
    display: flex;
}

.calc__wrapper-input-size {
    margin-right: 10px;
    flex-basis: 50%;
}

.calc__wrapper-input-size:last-child {
    margin-right: 0;
}

.calc__text {
    font-size: 12px;
    color: #898989;
    margin-bottom: 2px;
}

.calc__wrapper-input {
   
}

.calc__input-number {
    width: 100%;
    height: 54px;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    padding: 0 25px;
    outline: none;
}

.calc__input-number::-webkit-inner-spin-button {
    display: none;
}

.calc__input-number:hover,
.calc__input-number:focus {
    border-color: #ffc700;

}

.calc__fieldset_tariff {
    margin-bottom: 65px;
}

.calc__text_legend {
    margin-bottom: 16px;
}

.calc__wrapper-input-tariff {
    margin-right: 16px;
    display: inline-flex;
}

.calc__wrapper-input-tariff:last-child {
    margin-right: 0;
}

.calc__input-radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 24px;
    height: 24px;

    position: relative;
    margin-right: 8px;
    outline-color: #ffc700;
}

.calc__input-radio::before {
    content: "";
    position: absolute;
    inset: 0; /* top=0, right=0, bottom=0, left=0 */
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 50%;
}

.calc__input-radio::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #232020;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    opacity: 0;
}

.calc__input-radio:checked:after {
    opacity: 1;
}

.calc__label-radio {
    text-transform: uppercase;
}

.calc__total {
    width: var(--width-block);
    display: flex;
    padding: var(--padding);
    align-items: flex-end;
    background: #333 url('../img/calc_bg.jpg') center/cover no-repeat;
    border-radius: 12px;
}

.calc__result-wrapper {
    display: none;
    flex-basis: 303px;
    padding: 24px;
    background-color: #fff;
    border-radius: 8px;
}

.calc__result-wrapper_show {
    display: block;
}

.calc__order {
    display: none;
}

.calc__order_show {
    display: inline-block;
}

.calc__result {
    margin-top: 0;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}

.calc__result:last-child {
    margin-bottom: 0;
}

@media (max-width: 1240px) {
    .calc__title {
        margin-bottom: 24px;
    }

    .calc__fieldset_size {
        margin-bottom: 24px;
    }

    .calc__fieldset_tariff {
        margin-bottom: 34px;
    }
}

@media (max-width: 920px) { 
    .calc {
        --width-block: 100%;
    }

    .calc__container {
        flex-direction: column;
    }

    .calc__fieldset_tariff {
        margin-bottom: 32px;
    }

    .calc__input-number {
        height: 36px;
        padding: 0 16px;
    }

    .calc__label-radio{
        font-size: 14px;
    }

    .calc__text_legend {
        margin-bottom: 8px;
    }

    .calc__total {
        min-height: 220px;
        align-items: flex-start;
        background-position: 0 75%;
    }
}

@media (max-width: 560px) { 
    .calc__title {
        margin-bottom: 16px;
    }

    .calc__fieldset_size {
        flex-direction: column;
        margin-bottom: 16px;
    }

    .calc__fieldset_tariff {
        margin-bottom: 24px;
    }

    .calc__wrapper-input-size {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .calc__wrapper-input-size:last-child {
        margin-bottom: 0;
    }

    .calc__wrapper-input-tariff {
        display: flex;
        margin-right: 0;
        margin-bottom: 8px;
    }

    .calc__wrapper-input-tariff:last-child {
        margin-bottom: 0;
    }

    .calc__total {
        min-height: 128px;
    }

    .calc__result-wrapper {
        padding: 16px;
    }

    .calc__result {
        margin-bottom: 8px;
    }
}