/*
    Base common CSS settings
*/
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}

img, 
svg {
     /* to be not oversized from container block */
    max-width: 100%;
    max-height: 100%;
    /* height calculation proportionally from width */
    height: auto; 
}

button {
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

button, input {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, 
h2, 
h3, 
p {
    margin: 0;
}

.visually-hidden {
    position: fixed;
    transform: scale(0);
}