.modal {
    display: none;
    position: fixed;
    z-index: 50;
    inset: 0;
    background-color: rgba(0,0,0,0.9);
    cursor: pointer;
    overflow-y: auto;
    padding: 6px;
}

.modal__main {
    position: relative;
    margin: auto;
    max-width: 790px;
    width: 100%;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 4px rgba(0, 0 ,0, 0.25);
    cursor: default;
    overflow: hidden;
}

.modal__container {
    display: flex;
}

.modal__container::after {
    content: "";
    flex: 0 0 350px; /* fixed size of the flex block */
    background-image: url("../img/modal-bg-desktop.jpg");
    background-size: cover;
}

.modal__content {
    padding: 30px;

}

.modal__title {
    font-size: 34px;
    margin-bottom: 24px;
}

.modal__subtitle {
    margin-top: 0;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.modal__fieldset {
    margin: 0 0 12px;
    padding: 0;
    border: 0;
    display: flex;
}

.modal__wrapper-input {
    position: relative;
    padding-bottom: 20px;
    margin-right: 10px;
    flex-basis: 50%;
}

.modal__wrapper-input:last-child {
    margin-right: 0;
}

.modal__text {
    font-size: 12px;
    color: #898989;
    margin-bottom: 2px;
}

.modal__input {
    width: 100%;
    height: 54px;
    border-radius: 12px;
    border: 1px solid #e4e4e4;
    padding: 0 25px;
}

.modal__close {
    padding: 0;
    position: absolute;
    top: 10px;
    right: 10px;
    border-color: transparent;
    line-height: 0; /* otherwise the element is not circle */
}

.modal__input_error {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
}