@import "normalize.css";
@import "fonts.css";
@import "default.css";

@import "button.css";
@import "modal.css";

@import "header.css";
@import "hero.css";
@import "advantages.css";
@import "calc.css";
@import "footer.css";

:root {
    --width-slide: 590px;
    --width-block: calc(50% - var(--gap) / 2);
    --gap: 10px;
    --padding: 50px;
}

body {
    font-family: Inter, sans-serif;
    min-width: 320px;
    color: #233030;
    background-color: #fff;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

.container {
    max-width: 1190px;
    margin: 0 auto;
}

.section-offset {
    padding-top: 40px;
    padding-bottom: 40px;
}

.gray-block {
    background-color: #f8f8f8;
    border-radius: 12px;
    padding: var(--padding);
    min-height: 530px;
}

.title {
    font-weight: 500;
    font-size: 44px;
    line-height: 1.3;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.link {
    transition: color 0.2s ease-in-out;
}

.link:hover {
    color: #ffd952;
}

@media (max-width: 1240px) {
    :root {
        --padding: 30px;
        --width-slide: 440px;
    }

    .container {
        max-width: 890px;
    }

    .section-offset {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .title {
        font-size: 34px;
    }

    .gray-block {
        min-height: 396px;
    }
}

@media (max-width: 920px) { 
    :root {
        --padding: 24px;
        --width-slide: 311px;
    }

    .container {
        max-width: 690px;
        padding: 0 30px;
    }

    .gray-block {
        min-height: 280px;
    }

    .button {
        padding: 10px 24px;
        font-size: 14px;
    }
}

@media (max-width: 560px) { 
    :root {
        --padding: 20px;
        --gap: 4px;
    }

    .container {
        padding: 0 6px;
    }

    .gray-block {
        min-height: 232px;
    }

    .title {
        font-size: 24px;
    }

    .button {
        font-size: 12px;
    }
}